PyQt6
Pillow
rembg
onnxruntime
pywin32
winrt-runtime
winrt-Windows.Media.Control
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Storage.Streams
winrt-Windows.Media
soundcard
faster-whisper
